In [1]:
import pandas as  pd

df = pd.read_csv('orders_file.csv')

In [2]:
df.drop_duplicates(subset=['order_number'], inplace=True)

In [3]:
ip_df = pd.read_csv('ip_addresses.csv')

In [4]:
ip_df = ip_df[ip_df['ip_address'].notna() & (ip_df['ip_address'].str.strip() != '')]

In [5]:
ip_df['ip_address'] = ip_df['ip_address'].str.strip()

In [6]:
ip_df.drop_duplicates(subset=['order_number'], inplace=True)

In [8]:
pd.merge(ip_df,df,how='inner',on='order_number').sample(200)[['order_number','ip_address']]

                      order_number                               ip_address
66818            4YB79325SR853732T                              72.74.37.27
7160   ch_3PLSBGD8UtMUbTdk1c6aGmLc  2600:1007:b03b:ee4d:dd51:4ec2:bb82:1a25
72224            78T30907UN1453151                            115.64.60.160
36910  ch_3Ok4iUDRi8PSmLlh11rCNsGf                              71.80.60.61
15884            1J321421A4106363D  2600:6c48:45f0:8d50:6249:f59a:af19:fc58
...                            ...                                      ...
47790            5MC50412XM165420N                              8.42.69.182
4855   ch_3Pdu7gD8UtMUbTdk0QjMYBv9   2601:500:8001:1e70:a85b:fbbf:f081:650d
68649            6XU18251FY853282K  2600:1700:a500:e240:f03f:3180:5d17:d960
42209            64J98791VL984470X                           50.231.234.101
81766  ch_3OYWssGm2wKNF5vD0lCmoS0J                       2600:387:f:6718::1

[200 rows x 2 columns]

In [ ]:
pd.merge(ip_df,df,how='inner',on='order_number').sample(200)[['order_number','ip_address']].to_csv('ip_addresses_test.csv',index=False)